
<h1>{{ 'title.movies' | translate }}</h1>
<br />

@for (movie of movies; track movie) {
<div class="uk-card uk-card-default uk-card-body">
  <div
    class="uk-card uk-card-secondary uk-card-hover uk-card-body eni-movie-card"
    [ngStyle]="{
      'background-image':
        'radial-gradient(circle, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.7) 90%), url(' +
        movie.cover +
        ')'
    }"
  >
    <div class="eni-movie-radial-gradient">
      <h1>{{ movie.title }}</h1>
      <h3>{{ movie.year }}, {{ movie.author }}</h3>
      <p>{{ movie.duration }} min</p>
      <app-star-rating [rating] = "movie.rating"></app-star-rating>
      <p>{{ movie.genre }}</p>
      <p>{{ movie.synopsis }}</p>
    </div>
  </div>
</div>
}

<div id="modal-loading" class="uk-flex-top uk-modal">
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <p class="uk-text-center eni-movie-modal">{{ 'modal-movie-loading' | translate }}</p>
    <img src="loading-ic.gif" style="width: 76px; position: absolute; top: 0;"/>
  </div>
</div>
