<form class="uk-form-label" action="POST">
<fieldset class="uk-margin">
  <legend class="uk-form-label" for="login">Login</legend>
  <div class="uk-margin">
    <input [ngModel]="user.email" class="uk-input uk-form-width-medium" type="text" placeholder="Email" aria-label="Email">
  </div>
  <div class="uk-margin">
    <input [ngModel]="user.password" class="uk-input uk-form-width-medium" type="text" placeholder="Email" aria-label="Email">
  </div>
  <button class="uk-button-secondary">LOG IN</button>
</fieldset>
</form>
